.buyer-container {
  max-width: 600px;  
  margin: 20px auto;
}

.card-title svg {
  vertical-align: middle;
}

.list-group-item span {
  flex-grow: 1;
}

.rounded-circle {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 1;
}

.rounded-circle svg {
  font-size: 1rem;
}
